@page "/app/create/"
@model system4.Pages.Create.AppModel
@{
    ViewData["Title"] = "App";
}

<form method="post">
    <div class="container p-0">
        <h1 class="display-4 text-center">Создание о записи на подачу:</h1>

        <div class="row text-start">
            <div class="col">
                <label for="Center" class="form-label">Визовый центр:</label>
                <select class="form-select form-select-lg mb-3" id="Center" name="Center" aria-label=".form-select-lg example">
                    @foreach (var center in Model.Centers)
                    {
                        <option value="@center.Key">@center.Value</option>
                    }
                </select>
            </div>

            <div class="col">
                <label for="VisaType" class="form-label">Тип визы:</label>
                <select class="form-select form-select-lg mb-3" id="VisaType" name="VisaType" aria-label=".form-select-lg example"></select>
            </div>
        </div>

        <div id="applicants"></div>
        <button id="addApplicant" type="button" class="btn btn-outline-primary">добавить заявителя</button>

        <div id="dates"></div>
        <input type="hidden" id="dates_value" value="">

        <button type="submit" class="btn btn-primary">сохранить запись</button>

    </div>
</form>

@section Scripts {

    <script>
        $(document).ready(function () {

            //////////////////////////////////////

            var busyDates = {
                "2025-09-25": "Занято 100 из 100 слотов",
                "2025-09-26": "Занято 100 из 100 слотов",
                "2025-09-27": "Занято 100 из 100 слотов",
            };

            var freeDates = {
                "2025-09-29": "Свободно 30 из 100 слотов",
                "2025-09-30": "Свободно 90 из 100 слотов",
                "2025-10-01": "Свободно 10 из 100 слотов",
                "2025-10-02": "Свободно 1 из 100 слотов",
            };

            $.fn.datepicker.noConflict();

            $("#dates").datepicker({
                format: 'yyyy-mm-dd',
                weekStart: 1,
                numberOfMonths: 3,
                todayHighlight: true,
                beforeShowDay: function (date) {

                    var isoDate = date.toISOString().split('T')[0];

                    if (busyDates[isoDate] !== undefined) {
                        return { enabled: false, classes: 'busyDate', tooltip: busyDates[isoDate] }
                    }
                    else if (freeDates[isoDate] !== undefined) {
                        return { enabled: true, classes: 'freeDate', tooltip: freeDates[isoDate] }
                    }
                    else {
                        return { enabled: false };
                    }
                },
                onSelect: function (date) {
                    $('#dates_value').val(date)
                }
            })

            //////////////////////////////////////

            var applicantIndex = 0;

            $("#addApplicant").click(function () {

                applicantIndex++;

                var newApplicant = `
                    <div class="dynamic-field-row border applicant_form">

                        <input type="hidden" id="Removed_${applicantIndex - 1}" name="Applicants[${applicantIndex - 1}].Removed" value="false" />

                        <div class="row justify-content-center align-items-center application_row">
                            <div class="col">
                                <label for="Applicants_${applicantIndex - 1}_LName" class="form-label">Фамилия:</label>
                                <input type="text" class="form-control" id="Applicants_${applicantIndex - 1}_LName" name="Applicants[${applicantIndex - 1}].LName">
                                <div class="form-text">Ivanov</div>
                            </div>
                            <div class="col">
                                <label for="Applicants_${applicantIndex - 1}_FName" class="form-label">Имя:</label>
                                <input type="text" class="form-control" id="Applicants_${applicantIndex - 1}_FName" name="Applicants[${applicantIndex - 1}].FName">
                                <div class="form-text">Ivan</div>
                            </div>
                            <div class="col">
                                <label for="Applicants_${applicantIndex - 1}_PassNum" class="form-label">Загранпаспорт:</label>
                                <input type="text" class="form-control" id="Applicants_${applicantIndex - 1}_PassNum" name="Applicants[${applicantIndex - 1}].PassNum">
                                <div class="form-text">771234567</div>
                            </div>
                        </div>

                        <div class="row justify-content-center align-items-center application_row">
                            <div class="col">
                                <label for="Applicants_${applicantIndex - 1}_BirthDate" class="form-label">Дата рождения:</label>
                                <input type="text" class="form-control" id="Applicants_${applicantIndex - 1}_BirthDate" name="Applicants[${applicantIndex - 1}].BirthDate">
                                <div class="form-text">01.01.1990</div>
                            </div>
                            <div class="col">
                                <input type="checkbox" class="btn-check" id="Applicants_${applicantIndex - 1}_IsChild" name="Applicants[${applicantIndex - 1}].IsChild" value="true" autocomplete="off">
                                <label class="btn btn-outline-primary application_checkbox" for="Applicants_${applicantIndex - 1}_IsChild">вписан в паспорт</label>
                                <input type="hidden" name="Applicants[${applicantIndex - 1}].IsChild" value="false" />

                                <input type="checkbox" class="btn-check" id="Applicants_${applicantIndex - 1}_NRes" name="Applicants[${applicantIndex - 1}].NRes" value="true" autocomplete="off">
                                <label class="btn btn-outline-primary" for="Applicants_${applicantIndex - 1}_NRes">нерезидент</label>
                                <input type="hidden" name="Applicants[${applicantIndex - 1}].NRes" value="false" />
                            </div>
                            <div class="col"></div>
                        </div>

                        <div class="row justify-content-center align-items-center application_row">
                            <div class="col">
                                <label for="Applicants_${applicantIndex - 1}_RLName" class="form-label">Фамилия:</label>
                                <input type="text" class="form-control" id="Applicants_${applicantIndex - 1}_RLName" name="Applicants[${applicantIndex - 1}].RLName">
                                <div class="form-text">Иванов</div>
                            </div>
                            <div class="col">
                                <label for="Applicants_${applicantIndex - 1}_RFName" class="form-label">Имя:</label>
                                <input type="text" class="form-control" id="Applicants_${applicantIndex - 1}_RFName" name="Applicants[${applicantIndex - 1}].RFName">
                                <div class="form-text">Иван</div>
                            </div>
                            <div class="col">
                                <label for="Applicants_${applicantIndex - 1}_RMName" class="form-label">Отчество:</label>
                                <input type="text" class="form-control" id="Applicants_${applicantIndex - 1}_RMName" name="Applicants[${applicantIndex - 1}].RMName">
                                <div class="form-text">Иванович</div>
                            </div>
                        </div>

                        <div class="row justify-content-center align-items-center application_row">
                            <div class="col">
                                <label for="Applicants_${applicantIndex - 1}_RPassNum" class="form-label">Номер внутреннего паспорта:</label>
                                <input type="text" class="form-control" id="Applicants_${applicantIndex - 1}_RPassNum" name="Applicants[${applicantIndex - 1}].RPassNum">
                                <div class="form-text">4500123456</div>
                            </div>
                            <div class="col">
                                <label for="Applicants_${applicantIndex - 1}_RPWhen" class="form-label">Дата выдачи:</label>
                                <input type="text" class="form-control" id="Applicants_${applicantIndex - 1}_RPWhen" name="Applicants[${applicantIndex - 1}].RPWhen">
                                <div class="form-text">01.01.2010</div>
                            </div>
                            <div class="col">
                                <label for="Applicants_${applicantIndex - 1}_RPWhere" class="form-label">Кем выдан:</label>
                                <input type="text" class="form-control" id="Applicants_${applicantIndex - 1}_RPWhere" name="Applicants[${applicantIndex - 1}].RPWhere">
                                <div class="form-text">ОВД района Беговая</div>
                            </div>
                        </div>

                        <button type="button" class="remove-field btn btn-outline-danger application_remove">удалить заявителя</button>
                    </div>`;

                $("#applicants").append(newApplicant);
            });

            $(document).on('click', '.remove-field', function () {

                var appl = $(this).closest('.dynamic-field-row');

                var lname = appl.find("[id$=LName]").val();
                var fname = appl.find("[id$=FName]").val();
                var passnum = appl.find("[id$=PassNum]").val();
                var applText = lname + fname + passnum;

                if ((applText.replace(/\s/g, '') != "") && !confirm('Вы уверены, что хотите удалить заявителя?'))
                    return;
                
                appl.hide();
                appl.find("[id^=Removed_]").val("true");
            });

            $("#Center").on('change', function () {

                var visasByCenters = {
                    @foreach (var visa in Model.VisaCenters)
                    {
                        <text>"@visa.Key": [@visa.Value],</text>
                    }
                };

                var visas = {
                    @foreach (var visa in Model.VisaTypes)
                    {
                        <text>"@visa.Key": "@visa.Value", </text>
                    }
                };

                $("#VisaType").find('option').remove();

                var center = Number($("#Center").val());

                for (var [key, value] of Object.entries(visasByCenters)) {

                    if (value.includes(center)) {

                        $("#VisaType").append($('<option>', {
                            value: key,
                            text: visas[key]
                        }));
                    }
                }
            });
        });
    </script>
}
