@page "/app/{appid:int}/create"
@model system4.Pages.Create.DocModel
@{
    ViewData["Title"] = "Doc";
}

<div class="doc_request" id="DocRequest">
    <div class="container p-0 doc_request_form">
        <div class="row text-start">
            <div class="col">
                <div class="fs-6">VisaType</div>
                <select class="form-select form-select-sm doc_applicant_select doc_request_field"
                        id="Request_VisaType" aria-label="form-select-sm example">
                    @foreach (var visa in Model.RequestData["VisaType"])
                    {
                        <option value="@visa.Key">@visa.Value</option>
                    }
                </select>
            </div>
            <div class="col">
                <div class="fs-6">Purpose of Travel</div>
                <select class="form-select form-select-sm doc_applicant_select doc_request_field"
                        id="Request_Purpose" aria-label="form-select-sm example">
                    @foreach (var purpose in Model.RequestData["TravelPurp"])
                    {
                        <option value="@purpose.Key">@purpose.Value</option>
                    }
                </select>
            </div>
        </div>
        <div class="row text-start">
            <div class="col">
                <div class="fs-6">Number of Entries</div>
                <select class="form-select form-select-sm doc_applicant_select doc_request_field"
                        id="Request_Entries" aria-label="form-select-sm example">
                    @foreach (var entries in Model.RequestData["NumEntries"])
                    {
                        <option value="@entries.Key">@entries.Value</option>
                    }
                </select>
            </div>
            <div class="col">
                <div class="fs-6">Duration of Stay</div>
                <input type="text" id="Request_Duration" class="form-control form-control-sm doc_applicant_field doc_request_field">
            </div>
        </div>
        <div class="row text-start">
            <div class="col">
                <div class="fs-6">Beginning of travel (date)</div>
                <input type="text" id="Request_Beginning" class="form-control form-control-sm doc_applicant_field doc_request_field">
            </div>
            <div class="col">
                <div class="fs-6">End of travel (date)</div>
                <input type="text" id="Request_End" class="form-control form-control-sm doc_applicant_field doc_request_field">
            </div>
        </div>
        <div class="row text-start">
            <div class="col">
                <div class="fs-6">Border of First Entry (Country)</div>
                <select class="form-select form-select-sm doc_applicant_select doc_request_field"
                        id="Request_Country" aria-label="form-select-sm example">
                    @foreach (var first in Model.RequestData["FirstEntry"])
                    {
                        <option value="@first.Key">@first.Value</option>
                    }
                </select>
            </div>
            <div class="col">
                <div class="fs-6">Italian Border of Entry</div>
                <select class="form-select form-select-sm doc_applicant_select doc_request_field"
                        id="Request_Border" aria-label="form-select-sm example">
                    @foreach (var first in Model.RequestData["SchengenItalianBrd"])
                    {
                        <option value="@first.Key">@first.Value</option>
                    }
                </select>
            </div>
        </div>
        <div class="row text-start">
            <div class="col">
                <div class="fs-6">Border of Entry (City)</div>
                <input type="text" id="Request_City" class="form-control form-control-sm doc_applicant_field doc_request_field">
            </div>
            <div class="col">
                <div class="fs-6">Main Destination</div>
                <select class="form-select form-select-sm doc_applicant_select doc_request_field"
                        id="Request_MainDestination" aria-label="form-select-sm example">
                    @foreach (var country in Model.RequestData["MainDestination"])
                    {
                        <option value="@country.Key">@country.Value</option>
                    }
                </select>
            </div>
        </div>
        <div class="row text-start">
            <div class="col">
                <div class="fs-6">City of Destination</div>
                <input type="text" id="Request_DestinationCity" class="form-control form-control-sm doc_applicant_field">
            </div>
            <div class="col align-self-end">
                <button class="btn btn-success doc_request_buttons" id="AddNewRequest">добавить запрос</button>
                <button class="btn btn-danger doc_request_buttons" id="CloseNewRequest">закрыть</button>
            </div>
        </div>

    </div>
</div>

<form method="post">
    <div class="container p-0">
        <h1 class="display-4 text-center">Создание договора:</h1>

        <input type="hidden" id="Requests" asp-for="Requests"/>
        <input type="hidden" id="GenBank" name="GenBank" value="@Model.Appointment.Center.genbank" />

        <input type="hidden" id="FoxIndex" name="FoxIndex" value="">
        <input type="hidden" id="FoxAddr" name="FoxAddr" value="">
        <input type="hidden" id="FoxPrice" name="FoxPrice" value="">

        @if (Model.Appointment.Shipping > 0)
        {
            <input type="hidden" id="StartAddr" name="StartAddr" value="@Model.Appointment.ShAddress">
        }

        <div class="row text-start">
            <div class="col">
                <label for="VisaType" class="form-label">Номер записи:</label><br />
                <span class="fs-3">@DAL.Formats.Appointment(Model.Appointment.AppNum)</span>
            </div>
            <div class="col">
                <label for="VisaType" class="form-label">Тип визы:</label>
                <select class="form-select form-select-lg mb-3" id="VisaType" asp-for="DocPack.VisaType" aria-label="form-select-lg example">
                    @foreach (var visa in Model.VisaTypes)
                    {
                        <option value="@visa.Key">@visa.Value</option>
                    }
                </select>
            </div>

            <div class="col align-self-end application_service_button">

                @if (Model.Appointment.Center.isUrgent > 0)
                {
                    <input type="checkbox" class="btn-check" id="Urgent" asp-for="DocPack.Urgent" value="true" autocomplete="off">
                    <label class="btn btn-outline-primary btn-lg margin_doc_add_button" for="Urgent">срочная виза</label>
                }
                else
                {
                    <input type="checkbox" class="btn-check" id="Urgent" asp-for="DocPack.Urgent" value="true"
                           autocomplete="off" disabled="disabled">
                    <label class="btn btn-outline-secondary btn-lg margin_doc_add_button" for="Urgent">срочная виза недоступна</label>
                }
                <input type="hidden" name="Urgent" value="false" />
            </div>
        </div>

        @if (Model.Appointment.Dwhom > 0)
        {
            <div class="dynamic-field-row border doc_applicant_form">
                <div class="row justify-content-center align-items-center application_row">
                    <div class="col">
                        <input type="checkbox" class="btn-check" id="ApplicantDwhom_DocPerson" name="ApplicantDwhom.DocPerson" value="true" autocomplete="off">
                        <label class="btn btn-outline-primary btn-sm doc_applicant_data" for="ApplicantDwhom_DocPerson">✓</label>
                        <input type="hidden" name="ApplicantsApplicantDwhom.DocPerson" value="false" />

                        <div class="fs-6">&nbsp;</div>
                        <div class="fs-6"><b>ПО ДОВЕРЕННОСТИ</b></div>
                        <div class="fs-6">&nbsp;</div>
                    </div>
                    <div class="col">
                        <div class="fs-6">ФИО для договора:</div>
                        <input type="text" class="form-control form-control-sm doc_applicant_field" id="ApplicantDwhom_RLName" name="ApplicantDwhom.RLName" value="@Model.Appointment.LName">
                        <input type="text" class="form-control form-control-sm doc_applicant_field" id="ApplicantDwhom_RFName" name="ApplicantDwhom.RFName" value="@Model.Appointment.FName">
                        <input type="text" class="form-control form-control-sm" id="ApplicantDwhom_RMName" name="ApplicantDwhom.RMName" value="@Model.Appointment.MName">
                    </div>
                    <div class="col">&nbsp;</div>
                    <div class="col">&nbsp;</div>
                    <div class="col">&nbsp;</div>
                </div>
            </div>
        }

        @{
            var applicantIndex = 0;

            foreach (DB.AppData app in Model.Appointment.AppData)
            {
                applicantIndex += 1;

                <input type="hidden" id="Applicants_@(applicantIndex - 1)_ApplId" asp-for="DocPack.Applicants[(applicantIndex - 1)].ApplId" />

                <div class="dynamic-field-row border doc_applicant_form">
                    <div class="row justify-content-center align-items-center application_row">
                        <div class="col">
                            <input type="checkbox" class="btn-check" id="Applicants_@(applicantIndex - 1)_DocPerson" asp-for="DocPack.Applicants[(applicantIndex - 1)].DocPerson" value="true" autocomplete="off">
                            <label id="Applicants_@(applicantIndex - 1)_DocPerson_Button" class="btn btn-outline-primary btn-sm doc_applicant_data" for="Applicants_@(applicantIndex - 1)_DocPerson">✓</label>
                            <input type="hidden" name="DocPack.Applicants[@(applicantIndex - 1)].DocPerson" value="false" />

                            <div class="fs-6">@app.LName</div>
                            <div class="fs-6"><b>@app.FName</b></div>
                            <div class="fs-6">@app.PassNum</div>
                        </div>
                        <div class="col">
                            <div class="fs-6">ФИО для договора:</div>
                            <span class="doc_error" asp-validation-for="DocPack.Applicants[(applicantIndex - 1)].RLName"></span>
                            <input type="text" class="form-control form-control-sm doc_applicant_field" id="Applicants_@(applicantIndex - 1)_RLName" asp-for="DocPack.Applicants[(applicantIndex - 1)].RLName">
                            <span class="doc_error" asp-validation-for="DocPack.Applicants[(applicantIndex - 1)].RFName"></span>
                            <input type="text" class="form-control form-control-sm doc_applicant_field" id="Applicants_@(applicantIndex - 1)_RFName" asp-for="DocPack.Applicants[(applicantIndex - 1)].RFName">
                            <span class="doc_error" asp-validation-for="DocPack.Applicants[(applicantIndex - 1)].RMName"></span>
                            <input type="text" class="form-control form-control-sm" id="Applicants_@(applicantIndex - 1)_RMName" asp-for="DocPack.Applicants[(applicantIndex - 1)].RMName">
                        </div>
                        <div class="col">
                            <div class="fs-6">Дата рождения:</div>
                            <span class="doc_error" asp-validation-for="DocPack.Applicants[(applicantIndex - 1)].BirthDate"></span>
                            <input type="text" class="form-control" id="Applicants_@(applicantIndex - 1)_BirthDate" asp-for="DocPack.Applicants[(applicantIndex - 1)].BirthDate">
                            <div class="fs-6">Дата вылета:</div>
                            <input type="text" class="form-control" id="Applicants_@(applicantIndex - 1)_FlyDate" asp-for="DocPack.Applicants[(applicantIndex - 1)].FlyDate">
                        </div>
                        <div class="col">
                            <div class="fs-6">BankID:</div>
                            <span class="doc_error" asp-validation-for="DocPack.Applicants[(applicantIndex - 1)].BankId"></span>
                            <input type="text" class="form-control" id="Applicants_@(applicantIndex - 1)_BankId"
                                   asp-for="DocPack.Applicants[(applicantIndex - 1)].BankId">
                            <div class="fs-6">Запрос:</div>
                            <span class="doc_error" asp-validation-for="DocPack.Applicants[(applicantIndex - 1)].Request"></span>
                            <div class="input-group">
                                <select class="form-select form-select-sm doc_applicant_select" id="Applicants_@(applicantIndex - 1)_Request"
                                        aria-label="form-select-sm example"></select>
                                <input type="hidden" id="Applicants_@(applicantIndex - 1)_Request_Selected"
                                       asp-for="DocPack.Applicants[(applicantIndex - 1)].Request" />
                                <span class="input-group-btn">
                                    <button id="Applicants_@(applicantIndex - 1)_AddRequest" type="button" class="btn btn-outline-primary padding_search_buttons">+</button>
                                </span>
                            </div>
                        </div>
                        <div class="col">
                            <input type="checkbox" class="btn-check" id="Applicants_@(applicantIndex - 1)_Concil" name="DocPack.Applicants[@(applicantIndex - 1)].Concil" value="true" autocomplete="off">
                            <label class="btn btn-outline-primary btn-sm doc_applicant_checkbox" for="Applicants_@(applicantIndex - 1)_Concil">не платит консульский сбор</label>
                            <input type="hidden" name="DocPack.Applicants[@(applicantIndex - 1)].Concil" value="false" />

                            <br />

                            <input type="checkbox" class="btn-check" id="Applicants_@(applicantIndex - 1)_NRes" name="DocPack.Applicants[@(applicantIndex - 1)].NRes" value="true" autocomplete="off">
                            <label class="btn btn-outline-primary btn-sm doc_applicant_checkbox" for="Applicants_@(applicantIndex - 1)_NRes">не резидент</label>
                            <input type="hidden" name="DocPack.Applicants[@(applicantIndex - 1)].NRes" value="false" />

                            <br />

                            <input type="checkbox" class="btn-check" id="Applicants_@(applicantIndex - 1)_Removed" name="DocPack.Applicants[@(applicantIndex - 1)].Removed" value="true" autocomplete="off">
                            <label class="btn btn-outline-danger btn-sm doc_applicant_checkbox" for="Applicants_@(applicantIndex - 1)_Removed">не включать в договор</label>
                            <input type="hidden" name="DocPack.Applicants[@(applicantIndex - 1)].Removed" value="false" />
                        </div>
                    </div>
                </div>
            }
        }

        <div class="container">

            <div class="row doc_applicant_data align-items-center">
                <div class="col col-5 justify-content-end d-flex">
                    <input type="checkbox" class="btn-check" id="Service_Shipping" asp-for="DocPack.Shipping"
                           value="true" autocomplete="off" checked="@Model.DocPack.Shipping">
                    <label class="btn btn-outline-primary" for="Service_Shipping">Доставка</label>
                    <input type="hidden" name="Service_Shipping" value="false" />
                </div>
                <div class="col col-6">
                    <div class="input-group">
                        <input type="text" class="form-control fw-lighter doc_service_field_big" id="Service_Shipping_Address"
                               placeholder="адрес доставки" disabled="@(!Model.DocPack.Shipping)" asp-for="@Model.DocPack.ShippingAddr">
                    </div>
                </div>
            </div>
            <div class="row doc_applicant_data align-items-center">
                <div class="col col-5 justify-content-end d-flex">&nbsp;</div>
                <div class="col col-6">
                    <div class="input-group">
                        <input type="text" class="form-control doc_service_field_right fw-lighter" id="Service_Shipping_Phone"
                               asp-for="DocPack.ShippingPhone" placeholder="телефон" value="" disabled="@(!Model.DocPack.Shipping)">
                        <input type="text" class="form-control doc_service_field_right fw-lighter" id="Service_Shipping_Comment"
                               asp-for="DocPack.ShippingInfo" placeholder="информация" value="" disabled="@(!Model.DocPack.Shipping)">
                        <input type="checkbox" class="btn-check" id="Service_Shipping_Overload" asp-for="DocPack.ShippingOverload"
                               value="true" autocomplete="off" disabled="@(!Model.DocPack.Shipping)">
                        <label class="btn btn-outline-primary" for="Service_Shipping_Overload">вес сверх лимита</label>
                        <input type="hidden" name="Service_Shipping_Overload" value="false" />
                    </div>
                    <div class="input-group doc_shipping_price" id="Service_Shipping_Price">
                        <span id="ShDays" name="ShDays"></span>
                        <span id="ShPrice" name="ShPrice"></span>
                    </div>
                </div>
            </div>

            <div class="row doc_applicant_data align-items-center">
                <div class="col col-5 justify-content-end d-flex">
                    <input type="checkbox" class="btn-check" id="Service_SMS" asp-for="DocPack.SMS" value="true" autocomplete="off">
                    <label class="btn btn-outline-primary" for="Service_SMS">SMS</label>
                    <input type="hidden" name="Service_SMS" value="false" />
                </div>
                <div class="col col-3">
                    <div class="input-group">
                        <input type="text" class="form-control" id="Service_SMS_Value"
                               asp-for="DocPack.SmsMobile"
                               disabled="@(!Model.DocPack.SMS)">
                        <span class="input-group-text">телефон</span>
                    </div>
                </div>
                <div class="col col-3">
                    <span class="doc_error doc_service_error" asp-validation-for="DocPack.SmsMobile"></span>
                </div>
            </div>

            @{
                var serviceIndex = -1;

                foreach (var service in Model.Services)
                {
                    serviceIndex += 1;
                    var serviceId = service.ServiceId > 0 ? service.ServiceId.ToString() : service.ServiceName;

                    <div class="row doc_applicant_data align-items-center">
                        <div class="col col-5 justify-content-end d-flex">
                            <input type="checkbox" class="btn-check" id="Service_@serviceId" asp-for="DocPack.Services[serviceIndex].Enabled" value="true" autocomplete="off">
                            <label class="btn btn-outline-primary" for="Service_@serviceId">@service.Name</label>
                            <input type="hidden" name="DocPack.Services[serviceIndex].Enabled" value="false" />
                        </div>
                        <div class="col col-2">
                            <div class="input-group">
                                <input type="text" class="form-control" id="Service_@(serviceId)_Value"
                                       asp-for="DocPack.Services[serviceIndex].Value"
                                       disabled="@(!Model.DocPack.Services[serviceIndex].Enabled)">
                                <span class="input-group-text">@(service.ValueType == "1" ? "руб" : "штук")</span>
                            </div>
                        </div>
                        <div class="col col-3">
                            <span class="doc_error doc_service_error" asp-validation-for="DocPack.Services[serviceIndex]"></span>
                        </div>
                    </div>
                }
            }
        </div>

        <div class="container">

            <label class="fs-3 doc_create_header">Данные для договора:</label><br />

            <div class="row text-start">
                <div class="col">
                    <label for="LName" class="doc_create_data_label">Фамилия:</label>
                    <span class="doc_error" asp-validation-for="DocPack.LName"></span>
                    <input type="text" class="form-control" id="LName" asp-for="DocPack.LName" readonly="true">
                </div>
                <div class="col">
                    <label for="FName" class="doc_create_data_label">Имя:</label>
                    <span class="doc_error" asp-validation-for="DocPack.FName"></span>
                    <input type="text" class="form-control" id="FName" asp-for="DocPack.FName" readonly="true">
                </div>
                <div class="col">
                    <label for="MName" class="doc_create_data_label">Отчество:</label>
                    <span class="doc_error" asp-validation-for="DocPack.MName"></span>
                    <input type="text" class="form-control" id="MName" asp-for="DocPack.MName" readonly="true">
                </div>
            </div>

            <div class="row text-start">
                <div class="col">
                    <label for="PassNum" class="doc_create_data_label">Паспорт:</label>
                    <span class="doc_error" asp-validation-for="DocPack.PassNum"></span>
                    <input type="text" class="form-control" id="PassNum" asp-for="DocPack.PassNum">
                </div>
                <div class="col">
                    <label for="PassDate" class="doc_create_data_label">Дата выдачи:</label>
                    <span class="doc_error" asp-validation-for="DocPack.PassDate"></span>
                    <input type="text" class="form-control" id="PassDate" asp-for="DocPack.PassDate">
                </div>
                <div class="col">
                    <label for="PassWhom" class="doc_create_data_label">Кем выдан:</label>
                    <span class="doc_error" asp-validation-for="DocPack.PassWhom"></span>
                    <input type="text" class="form-control" id="PassWhom" asp-for="DocPack.PassWhom">
                </div>
            </div>

            <div class="row text-start">
                <div class="col">
                    <label for="DovNumber" class="doc_create_data_label">Доверенность №:</label>
                    <span class="doc_error" asp-validation-for="DocPack.DovNumber"></span>
                    <input type="text" class="form-control" id="DovNumber" asp-for="DocPack.DovNumber">
                </div>
                <div class="col">
                    <label for="DovDate" class="doc_create_data_label">Дата доверенности:</label>
                    <span class="doc_error" asp-validation-for="DocPack.DovDate"></span>
                    <input type="text" class="form-control" id="DovDate" asp-for="DocPack.DovDate">
                </div>
                <div class="col">
                    &nbsp;
                </div>
            </div>

            <div class="row text-start">
                <div class="col">
                    <label for="Phone" class="doc_create_data_label">Телефон:</label>
                    <span class="doc_error" asp-validation-for="DocPack.Phone"></span>
                    <input type="text" class="form-control" id="Phone" asp-for="DocPack.Phone">
                </div>
                <div class="col">
                    <label for="Address" class="doc_create_data_label">Адрес:</label>
                    <span class="doc_error" asp-validation-for="DocPack.Address"></span>
                    <input type="text" class="form-control" id="Address" asp-for="DocPack.Address">
                </div>
                <div class="col">
                    &nbsp;
                </div>
            </div>
        </div>

        <div class="container">

            <label class="fs-3 doc_create_header">Дополнительная информация:</label><br />

            <div class="row text-start">
                <div class="col">
                    <label for="PayType" class="doc_create_data_label">Тип оплаты:</label>
                    <select class="form-select form-select-sm doc_applicant_select doc_request_field"
                            id="PayType" asp-for="DocPack.PayType" aria-label="form-select-sm example">
                        @foreach (var visa in Model.PaymentTypes)
                        {
                            <option value="@visa.Key">@visa.Value</option>
                        }
                    </select>
                </div>
                <div class="col">
                    <label for="InfoMail" class="doc_create_data_label">EMail для отправки информации о получении:</label>
                    <span class="doc_error" asp-validation-for="DocPack.InfoMail"></span>
                    <input type="text" class="form-control" id="InfoMail" asp-for="DocPack.InfoMail">
                </div>
            </div>

            <div class="row text-start">
                <div class="col">
                    <label for="Comment" class="doc_create_data_label">Комментарий к договору:</label>
                    <textarea class="form-control" name="Comment" id="Comment" rows="3"></textarea>
                </div>
            </div>
        </div>

        <button type="submit" class="btn btn-primary doc_create_button">создать договор</button>

    </div>
</form>

@section Scripts {

    <script>
        $(document).ready(function () {

            $(':input[id$="Date"], #Request_Beginning, #Request_End').mask("99.99.9999", { placeholder: "__.__.____" });

            $('#Service_Shipping').change(function () {

                var shipping = $(this).is(":checked");

                ["Address", "Phone", "Comment", "Overload"].forEach((x) => {

                    var element = $("#Service_Shipping_" + x);
                    element.prop('disabled', !shipping);

                    if (element.prop('type') == "checkbox") {
                        element.prop('checked', false);
                    }
                    else {
                        element.val("");
                    }
                });

                if (!shipping) {

                    $("#Service_Shipping_Price").hide();
                    SetFoxData("", "", "");
                    currentAddress = "";
                }
            });

            $(':input[id^="Service_"]').change(function () {

                var element = $("#" + $(this).prop("id") + "_Value");
                element.val("");
                element.prop('disabled', !$(this).is(":checked"));
            });

            $(':checkbox[id^="Applicants_"][id$="_Removed"]').change(function () {

                var parts = $(this).prop("id").split('_');
                var id = parts[0] + "_" + parts[1];

                if ($(this).is(":checked")) {

                    $(":input[id^='" + id + "']").prop('readonly', true);

                    if ($("#" + id + "_DocPerson").is(":checked")) {

                        $("#" + id + "_DocPerson").prop('checked', false);
                        $("#LName, #FName, #MName").val("");
                    }

                    $("#" + id + "_DocPerson_Button").toggleClass('btn-outline-primary btn-outline-secondary');
                }
                else {
                    $(":input[id^='" + id + "']").prop('readonly', false);
                    $("#" + id + "_DocPerson_Button").toggleClass('btn-outline-secondary btn-outline-primary');
                }
            });

            $(':checkbox[id$="_DocPerson"]').change(function () {

                if (!$(this).is(":checked")) {
                    $("#LName, #FName, #MName").val("");
                }
                else {
                    $(':checkbox[id$="_DocPerson"]').prop('checked', false);
                    $(this).prop('checked', true);

                    if ($(this).prop("id") == "ApplicantDwhom_DocPerson") {

                        $("#LName").val($("#ApplicantDwhom_RLName").val());
                        $("#FName").val($("#ApplicantDwhom_RFName").val());
                        $("#MName").val($("#ApplicantDwhom_RMName").val());
                    }
                    else {
                        var parts = $(this).prop("id").split('_');
                        var id = parts[0] + "_" + parts[1];

                        $("#LName").val($("#" + id + "_RLName").val());
                        $("#FName").val($("#" + id + "_RFName").val());
                        $("#MName").val($("#" + id + "_RMName").val());
                    }
                }
            });

            $(':input[id$="_BankId"]').each(function () {

                if ($("#GenBank").val() > 0) {

                    $(this).val("автоматически");
                    $(this).prop("disabled", true);
                }
                else if ($(this).val() == "") {

                    $(this).val("2025/");
                }
            });

            var firstBankIdEntry = true;

            $(':input[id$="_BankId"]').keyup(function () {

                var newBankId = $(this).val();

                if (newBankId.match(/\d{4}\/\d{8}/) && firstBankIdEntry) {

                    if (confirm("Скопировать данный BankID в другие поля?")) {
                        $(':input[id$="_BankId"]').each(function () {
                            $(this).val(newBankId);
                        });
                    }

                    firstBankIdEntry = false;
                }
            });

            $(':input[id$="_AddRequest"]').click(function () {

                $("#DocRequest").show();
                $(this).addClass('btn-primary');
                $(this).removeClass('btn-outline-primary');
            });

            $(':input[id$="_Request"]').change(function () {

                $("#" + $(this).prop("id") + "_Selected").val($(this).val());
            });

            $('#CloseNewRequest').click(function () {

                $("#DocRequest").hide();

                $(':input[id$="_AddRequest"]').each(function () {
                    $(this).addClass('btn-outline-primary');
                    $(this).removeClass('btn-primary');
                });

                $('#Request_Beginning').val("");
                $('#Request_End').val("");
                $('#Request_Border').val("");
                $('#Request_City').val("");
                $('#Request_DestinationCity').val("");
                $('#Request_Duration').val("");
            });

            reloadRequest();

            function reloadRequest() {

                if ($('#Requests').val() == "")
                    return;

                var allRequests = JSON.parse($('#Requests').val());

                $(':input[id$="_Request"] option').each(function () {
                    $(this).remove();
                });

                var requestsIndex = 0;

                allRequests.forEach(function (request) {

                    requestsIndex += 1;

                    var requestName = '#' + requestsIndex + ' ' + request["VisaType"] +
                        ' (' + request["Entries"] + ') ' + request["Duration"]

                    $(':input[id$="_Request"]').each(function () {
                        $(this).append($('<option>', {
                            value: requestsIndex,
                            text: requestName,
                        }));
                    });
                });

                $(':input[id$="_Request"]').each(function () {

                    $(this).val($("#" + $(this).prop("id") + "_Selected").val());
                });
            }

            $('#AddNewRequest').click(function () {

                var allRequests = $('#Requests').val() == "" ? [] : JSON.parse($('#Requests').val());
                var requestsIndex = allRequests.length + 1;

                var request = {
                    'Id': requestsIndex,
                    'VisaType': $('#Request_VisaType').val(),
                    'Purpose': $('#Request_Purpose').val(),
                    'Entries': $('#Request_Entries').val(),
                    'Duration': $('#Request_Duration').val(),
                    'Beginning': $('#Request_Beginning').val(),
                    'End': $('#Request_End').val(),
                    'Country': $('#Request_Country').val(),
                    'Border': $('#Request_Border').val(),
                    'City': $('#Request_City').val(),
                    'MainDestination': $('#Request_MainDestination').val(),
                    'DestinationCity': $('#Request_DestinationCity').val(),
                }

                allRequests.push(request);
                $('#Requests').val(JSON.stringify(allRequests));

                $(':input[id$="_Request"]').each(function () {

                    var selected = $("#" + $(this).prop("id") + "_Selected");

                    if (selected.val() == "") {

                        selected.val(requestsIndex);
                    }
                });

                reloadRequest();
                $('#CloseNewRequest').click();
            });

            var ajax;
            var currentAddress;
            var startAddress = $("#StartAddr").val();

            if (startAddress != "") {

                ShippmentReCalc(startAddress);
            }

            $('#Service_Shipping_Overload').change(function () {

                ShippmentReCalc(startAddress);
            });

            $("#Service_Shipping_Address").autocomplete({
                source: function (request, response) {

                    ajax = $.ajax({
                        url: "/api/dadata/" + $("#Service_Shipping_Address").val(),
                        dataType: "json",
                        beforeSend: function () {

                            if (ajax) {
                                ajax.abort();
                            }
                        },
                        success: function (data) {
                            response(data.suggestions, $.map(function (item) {
                                return {
                                    value: item,
                                }
                            }));
                        }
                    });
                },
                deferRequestBy: 5000,
                minLength: 5,
                select: function (event, ui) {

                    currentAddress = ui.item.value;
                    ShippmentCalc(ui.item.unrestricted_value, ui.item.data.postal_code, ui.item.value);
                    return false;
                },
            });

            function SetFoxData(postal_code, address, price_from) {

                $('#FoxIndex').val(postal_code);
                $('#FoxAddr').val(address);
                $('#FoxPrice').val(price_from);
            };

            function ShippmentReCalc(full_address) {

                var comma = full_address.indexOf(", ");
                var currentPostal = full_address.slice(0, comma);
                currentAddress = full_address.slice(comma + 1);
                ShippmentCalc(full_address, currentPostal, currentAddress);
            }

            function ShippmentCalc(full_address, postal_code, address) {

                SetFoxData("", "", "");

                $("#Service_Shipping_Address").val(full_address);
                $("#Service_Shipping_Price").show();
                $("#ShPrice").html('');
                $("#ShDays").css('color', 'black');
                $("#ShDays").html('Расчёт...');

                var calcUrl = "/api/foxprice/";
                var addresses = encodeURI(address);
                var center = "/" + @Model.Appointment.CenterId;
                var overs = "/" + ($("#Service_Shipping_Overload").is(':checked') ? "1" : "0");

                $.ajax({
                    url: calcUrl + addresses + center + overs,
                    dataType: "json",

                    error: function (data) {
                        $("#ShDays").css('color', 'red');
                        $("#ShDays").html('Ошибка расчёта стоимости!');
                    },
                    success: function (data) {

                        if (data["tariffs"] == null) {
                            $("#ShDays").css('color', 'red');
                            $("#ShDays").html('Адрес не обслуживается!');
                        }
                        else {
                            var price_from = data["tariffs"][0]["total"];
                            var time_from = data["tariffs"][0]["minPeriod"];
                            var time_to = data["tariffs"][0]["maxPeriod"];

                            SetFoxData(postal_code, address, price_from);

                            $("#ShPrice").css('color', 'green');
                            $("#ShPrice").html(" стоимость: " + price_from + " руб");
                            $("#ShDays").html("Сроки доставки: " + time_from + "-" + time_to + " рабочих дней, ");
                        }
                    }
                });
            }
        });
    </script>
}