@page "/app/{appid:int}/create"
@model system4.Pages.Create.DocModel
@{
    ViewData["Title"] = "Doc";
}

<div class="doc_request" id="DocRequest">
    <div class="container p-0">
        <div class="row text-start">
            <div class="col">
                <div class="fs-6">VisaType</div>
                <select class="form-select form-select-sm doc_applicant_select" aria-label="form-select-sm example">
                    @foreach (var visa in Model.RequestData["VisaType"])
                    {
                        <option value="@visa.Key">@visa.Value</option>
                    }
                </select>
            </div>
            <div class="col">
                <div class="fs-6">Purpose of Travel</div>
                <select class="form-select form-select-sm doc_applicant_select" aria-label="form-select-sm example">
                    @foreach (var purpose in Model.RequestData["TravelPurp"])
                    {
                        <option value="@purpose.Key">@purpose.Value</option>
                    }
                </select>
            </div>
        </div>
        <div class="row text-start">
            <div class="col">
                <div class="fs-6">Number of Entries</div>
                <select class="form-select form-select-sm doc_applicant_select" aria-label="form-select-sm example">
                    @foreach (var entries in Model.RequestData["NumEntries"])
                    {
                        <option value="@entries.Key">@entries.Value</option>
                    }
                </select>
            </div>
            <div class="col">
                <div class="fs-6">Duration of Stay</div>
                <input type="text" class="form-control form-control-sm doc_applicant_field">
            </div>
        </div>
        <div class="row text-start">
            <div class="col">
                <div class="fs-6">Beginning of travel (date)</div>
                <input type="text" class="form-control form-control-sm doc_applicant_field">
            </div>
            <div class="col">
                <div class="fs-6">End of travel (date)</div>
                <input type="text" class="form-control form-control-sm doc_applicant_field">
            </div>
        </div>
        <div class="row text-start">
            <div class="col">
                <div class="fs-6">Border of First Entry (Country)</div>
                <select class="form-select form-select-sm doc_applicant_select" aria-label="form-select-sm example">
                    @foreach (var first in Model.RequestData["FirstEntry"])
                    {
                        <option value="@first.Key">@first.Value</option>
                    }
                </select>
            </div>
            <div class="col">
                <div class="fs-6">Italian Border of Entry</div>
                <select class="form-select form-select-sm doc_applicant_select" aria-label="form-select-sm example"></select>
            </div>
        </div>
        <div class="row text-start">
            <div class="col">
                <div class="fs-6">Border of Entry (City)</div>
                <input type="text" class="form-control form-control-sm doc_applicant_field">
            </div>
            <div class="col">
                <div class="fs-6">Main Destination</div>
                <select class="form-select form-select-sm doc_applicant_select" aria-label="form-select-sm example"></select>
            </div>
        </div>
        <div class="row text-start">
            <div class="col">
                <div class="fs-6">City of Destination</div>
                <input type="text" class="form-control form-control-sm doc_applicant_field">
            </div>
            <div class="col">&nbsp;</div>
        </div>
        <button class="btn btn-success" id="AddNewRequest">добавить запрос</button>
        <button class="btn btn-danger" id="CloseNewRequest">закрыть</button>
    </div>
</div>

<form method="post">
    <div class="container p-0">
        <h1 class="display-4 text-center">Создание договора:</h1>

        <div class="row text-start">
            <div class="col">
                <label for="VisaType" class="form-label">Номер записи:</label><br />
                <span class="fs-3">@DAL.Formats.Appointment(Model.Appointment.AppNum)</span>
            </div>
            <div class="col">
                <label for="VisaType" class="form-label">Тип визы:</label>
                <select class="form-select form-select-lg mb-3" id="VisaType" name="VisaType" aria-label="form-select-lg example">
                    @foreach (var visa in Model.VisaTypes)
                    {
                        <option value="@visa.Key">@visa.Value</option>
                    }
                </select>
            </div>

            <div class="col align-self-end application_service_button">
                <input type="checkbox" class="btn-check" id="Urgent" name="Urgent" value="true"
                       autocomplete="off" @(Model.Appointment.Center.isUrgent > 0 ? "" : "disabled='disabled'")>
                <label class="btn btn-outline-primary btn-lg margin_doc_add_button" for="Urgent">срочная виза</label>
                <input type="hidden" name="Urgent" value="false" />
            </div>
        </div>

        @if (Model.Appointment.Dwhom > 0)
        {
            <div class="dynamic-field-row border doc_applicant_form">
                <div class="row justify-content-center align-items-center application_row">
                    <div class="col">
                        <input type="checkbox" class="btn-check" id="ApplicantDwhom_DocPerson" name="ApplicantDwhom.DocPerson" value="true" autocomplete="off">
                        <label class="btn btn-outline-primary btn-sm doc_applicant_data" for="ApplicantDwhom_DocPerson">Оформление договора</label>
                        <input type="hidden" name="ApplicantsApplicantDwhom.DocPerson" value="false" />

                        <div class="fs-6">&nbsp;</div>
                        <div class="fs-6"><b>ПО ДОВЕРЕННОСТИ</b></div>
                        <div class="fs-6">&nbsp;</div>
                    </div>
                    <div class="col">
                        <div class="fs-6">ФИО для договора:</div>
                        <input type="text" class="form-control form-control-sm doc_applicant_field" id="ApplicantDwhom_RLName" name="ApplicantDwhom.RLName" value="@Model.Appointment.LName">
                        <input type="text" class="form-control form-control-sm doc_applicant_field" id="ApplicantDwhom_RFName" name="ApplicantDwhom.RFName" value="@Model.Appointment.FName">
                        <input type="text" class="form-control form-control-sm" id="ApplicantDwhom_RMName" name="ApplicantDwhom.RMName" value="@Model.Appointment.MName">
                    </div>
                    <div class="col">&nbsp;</div>
                    <div class="col">&nbsp;</div>
                    <div class="col">&nbsp;</div>
                </div>
            </div>
        }

        @{
            var applicantIndex = 0;

            foreach (DB.AppData app in Model.Appointment.AppData)
            {
                applicantIndex += 1;

                <div class="dynamic-field-row border doc_applicant_form">
                    <div class="row justify-content-center align-items-center application_row">
                        <div class="col">
                            <input type="checkbox" class="btn-check" id="Applicants_@(applicantIndex - 1)_DocPerson" name="Applicants[@(applicantIndex - 1)].DocPerson" value="true" autocomplete="off">
                            <label class="btn btn-outline-primary btn-sm doc_applicant_data" for="Applicants_@(applicantIndex - 1)_DocPerson">Оформление договора</label>
                            <input type="hidden" name="Applicants[@(applicantIndex - 1)].DocPerson" value="false" />

                            <div class="fs-6">@app.LName</div>
                            <div class="fs-6"><b>@app.FName</b></div>
                            <div class="fs-6">@app.PassNum</div>
                        </div>
                        <div class="col">
                            <div class="fs-6">ФИО для договора:</div>
                            <input type="text" class="form-control form-control-sm doc_applicant_field" id="Applicants_@(applicantIndex - 1)_RLName" name="Applicants[@(applicantIndex - 1)].RLName" value="@app.RLName">
                            <input type="text" class="form-control form-control-sm doc_applicant_field" id="Applicants_@(applicantIndex - 1)_RFName" name="Applicants[@(applicantIndex - 1)].RFName" value="@app.RFName">
                            <input type="text" class="form-control form-control-sm" id="Applicants_@(applicantIndex - 1)_RMName" name="Applicants[@(applicantIndex - 1)].RMName" value="@app.RMName">
                        </div>
                        <div class="col">
                            <div class="fs-6">Дата рождения:</div>
                            <input type="text" class="form-control" id="Applicants_@(applicantIndex - 1)_BirthDate" name="Applicants[@(applicantIndex - 1)].BirthDate" value="@app.BirthDate.ToString("dd.MM.yyyy")">
                            <div class="fs-6">Дата вылета:</div>
                            <input type="text" class="form-control" id="Applicants_@(applicantIndex - 1)_FlyDate" name="Applicants[@(applicantIndex - 1)].FlyDate" value="@app.AppSDate.ToString("dd.MM.yyyy")">
                        </div>
                        <div class="col">
                            <div class="fs-6">BankID:</div>
                            <input type="text" class="form-control" id="Applicants_@(applicantIndex - 1)_BankId" name="Applicants[@(applicantIndex - 1)].BankId" value="2025/12345678">
                            <div class="fs-6">Запрос:</div>
                            <div class="input-group">
                                <select class="form-select form-select-sm doc_applicant_select" id="Applicants_@(applicantIndex - 1)_Request"
                                        name="Applicants[@(applicantIndex - 1)].Request" aria-label="form-select-sm example"></select>
                                <span class="input-group-btn">
                                    <button id="Applicants_@(applicantIndex - 1)_AddRequest" type="button" class="btn btn-outline-primary padding_search_buttons">+</button>
                                </span>
                            </div>
                        </div>
                        <div class="col">
                            <input type="checkbox" class="btn-check" id="Applicants_@(applicantIndex - 1)_Concil" name="Applicants[@(applicantIndex - 1)].Concil" value="true" autocomplete="off">
                            <label class="btn btn-outline-primary btn-sm doc_applicant_checkbox" for="Applicants_@(applicantIndex - 1)_Concil">не платит консульский сбор</label>
                            <input type="hidden" name="Applicants[@(applicantIndex - 1)].Concil" value="false" />

                            <br />

                            <input type="checkbox" class="btn-check" id="Applicants_@(applicantIndex - 1)_NRes" name="Applicants[@(applicantIndex - 1)].NRes" value="true" autocomplete="off">
                            <label class="btn btn-outline-primary btn-sm doc_applicant_checkbox" for="Applicants_@(applicantIndex - 1)_NRes">не резидент</label>
                            <input type="hidden" name="Applicants[@(applicantIndex - 1)].NRes" value="false" />

                            <br />

                            <input type="checkbox" class="btn-check" id="Applicants_@(applicantIndex - 1)_Removed" name="Applicants[@(applicantIndex - 1)].Removed" value="true" autocomplete="off">
                            <label class="btn btn-outline-danger btn-sm doc_applicant_checkbox" for="Applicants_@(applicantIndex - 1)_Removed">не включать в договор</label>
                            <input type="hidden" name="Applicants[@(applicantIndex - 1)].Removed" value="false" />
                        </div>
                    </div>
                </div>
            }
        }

        <div class="container">

            <div class="row doc_applicant_data align-items-center">
                <div class="col col-5 justify-content-end d-flex">
                    <input type="checkbox" class="btn-check" id="Service_Shipping" name="Service_Shipping" value="true" autocomplete="off"
                           @(Model.Appointment.Shipping > 0 ? "checked='true'" : "")>
                    <label class="btn btn-outline-primary" for="Service_Shipping">Доставка</label>
                    <input type="hidden" name="Service_Shipping" value="false" />
                </div>
                <div class="col col-6">
                    <div class="input-group">
                        <input type="text" class="form-control fw-lighter doc_service_field_big" id="Service_Shipping_Address"
                               name="Service_Shipping_Address" placeholder="адрес доставки" value="@Model.Appointment.ShAddress"
                               @(Model.Appointment.Shipping > 0 ? "" : "disabled='disabled'")>
                    </div>
                </div>
            </div>
            <div class="row doc_applicant_data align-items-center">
                <div class="col col-5 justify-content-end d-flex">&nbsp;</div>
                <div class="col col-6">
                    <div class="input-group">
                        <input type="text" class="form-control doc_service_field_right fw-lighter" id="Service_Shipping_Phone"
                               name="Service_Shipping_Phone" placeholder="телефон" value=""
                               @(Model.Appointment.Shipping > 0 ? "" : "disabled='disabled'")>
                        <input type="text" class="form-control doc_service_field_right fw-lighter" id="Service_Shipping_Comment"
                               name="Service_Shipping_Comment" placeholder="информация" value=""
                               @(Model.Appointment.Shipping > 0 ? "" : "disabled='disabled'")>

                        <input type="checkbox" class="btn-check" id="Service_Shipping_Overload" name="Service_Shipping_Overload" value="true"
                               autocomplete="off" @(Model.Appointment.Shipping > 0 ? "" : "disabled='disabled'")>
                        <label class="btn btn-outline-primary" for="Service_Shipping_Overload">вес сверх лимита</label>
                        <input type="hidden" name="Service_Shipping_Overload" value="false" />
                    </div>
                </div>
            </div>

            @{
                foreach (DAL.Services service in Model.Services)
                {
                    var serviceId = service.ServiceId > 0 ? service.ServiceId.ToString() : service.ServiceName;

                    <div class="row doc_applicant_data align-items-center">
                        <div class="col col-5 justify-content-end d-flex">
                            <input type="checkbox" class="btn-check" id="Service_@serviceId" name="Service_@serviceId" value="true" autocomplete="off">
                            <label class="btn btn-outline-primary" for="Service_@serviceId">@service.Name</label>
                            <input type="hidden" name="Service_@serviceId" value="false" />
                        </div>
                        <div class="col col-2">

                            <div class="input-group">
                                <input type="text" class="form-control" id="Service_@(serviceId)_Value"
                                        name="Service_@(serviceId)_Value" value="" disabled="disabled">
                                <span class="input-group-text">@(service.ValueType == "1" ? "руб" : "штук")</span>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>

        <div class="row text-start">
            <div class="col">
                <label class="fs-3">Данные для договора:</label><br />

                <input type="text" class="form-control doc_applicant_field" id="LName" name="LName" value="" disabled="disabled">
                <input type="text" class="form-control doc_applicant_field" id="FName" name="FName" value="" disabled="disabled">
                <input type="text" class="form-control doc_applicant_field" id="MName" name="MName" value="" disabled="disabled">
            </div>
        </div>

        <button type="submit" class="btn btn-primary">создать договор</button>

    </div>
</form>

@section Scripts {

    <script>
        $(document).ready(function () {

            $('#Service_Shipping').change(function () {

                var shipping = $(this).is(":checked");

                ["Address", "Phone", "Comment", "Overload"].forEach((x) => {

                    var element = $("#Service_Shipping_" + x);          
                    element.prop('disabled', !shipping);

                    if (element.prop('type') == "checkbox") {
                        element.prop('checked', false);
                    }
                    else {
                        element.val("");
                    }
                });
            });

            $(':checkbox[id^="Service_"]').change(function () {

                var element = $("#" + $(this).prop("name") + "_Value");
                element.val("");
                element.prop('disabled', !$(this).is(":checked"));
            });

            $(':checkbox[id^="Applicants_"][id$="_Removed"]').change(function () {

                var parts = $(this).prop("id").split('_');
                var id = parts[0] + "_" + parts[1];

                $(":input[id^='" + id + "']").prop('disabled', $(this).is(":checked"));
                $(this).prop('disabled', false);

                if ($("#" + id + "_DocPerson").is(":checked")) {

                    $("#" + id + "_DocPerson").prop('checked', false);
                    $("#LName, #FName, #MName").val("");
                }
            });

            $(':checkbox[id$="_DocPerson"]').change(function () {

                if (!$(this).is(":checked"))
                {
                    $("#LName, #FName, #MName").val("");
                }
                else {
                    $(':checkbox[id$="_DocPerson"]').prop('checked', false);
                    $(this).prop('checked', true);

                    if ($(this).prop("id") == "ApplicantDwhom_DocPerson") {

                        $("#LName").val($("#ApplicantDwhom_RLName").val());
                        $("#FName").val($("#ApplicantDwhom_RFName").val());
                        $("#MName").val($("#ApplicantDwhom_RMName").val());
                    }
                    else {
                        var parts = $(this).prop("id").split('_');
                        var id = parts[0] + "_" + parts[1];

                        $("#LName").val($("#" + id + "_RLName").val());
                        $("#FName").val($("#" + id + "_RFName").val());
                        $("#MName").val($("#" + id + "_RMName").val());
                    }
                }
            });

            $(':input[id$="_AddRequest"]').click(function () {

                $("#DocRequest").show();
                $(this).addClass('btn-primary');
                $(this).removeClass('btn-outline-primary');
            });

            $('#CloseNewRequest').click(function () {

                $("#DocRequest").hide();

                $(':input[id$="_AddRequest"]').each(function () {
                    $(this).addClass('btn-outline-primary');
                    $(this).removeClass('btn-primary');
                });
            });

            var requestsIndex = 0;

            $('#AddNewRequest').click(function () {

                requestsIndex += 1;

                $(':input[id$="_Request"]').each(function () {
                    $(this).append($('<option>', {
                        value: requestsIndex,
                        text: 'request ' + requestsIndex
                    }));
                });

                $('#CloseNewRequest').click();
            });
        });
    </script>
}