@page "/apps/{pageNum?}"
@model system4.Pages.Docs.AppsModel
@{
    ViewData["Title"] = "Apps";
}

<div class="text-center">
    <h1 class="display-4">Записи на подачу</h1>

    <form method="post">
        <div class="input-group padding_search">

            <input type="search" asp-for="Search" class="form-control rounded"
                placeholder="001/2025/01/01/0001 или 01.01.2025, или 123456789"
                aria-label="Search" aria-describedby="search-addon" value="@Model.Search"/>

            <button type="submit" class="btn btn-outline-primary padding_search_buttons"
                data-mdb-ripple-init name="doSearch">искать</button>

            @if (!String.IsNullOrEmpty(Model.Search))
            {
                <button type="submit" class="btn btn-danger padding_search_buttons"
                    data-mdb-ripple-init name="doClean">сбросить</button>
            }
        </div>
    </form>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Дата записи</th>
                <th scope="col">Время записи</th>
                <th scope="col">Кол-во</th>
                <th scope="col">Визовый центр</th>
                <th scope="col">Тип визы</th>
                <th scope="col">Статус</th>
            </tr>
        </thead>
        <tbody>
            @{
                if (Model.Appointments.Count > 0)
                {
                    foreach (DAL.Appointment app in Model.Appointments)
                    {
                        TimeSpan start = TimeSpan.FromSeconds(app.TimeData.TStart);
                        TimeSpan end = TimeSpan.FromSeconds(app.TimeData.TEnd);

                        <tr>
                            <td><a class="normal-link" href="/app/@app.Id/">@DAL.Formats.Appointment(@app.AppNum)</a></td>
                            <td>@app.AppDate.Date.ToString("dd.MM.yyyy")</td>
                            <td>@start.ToString(@"hh\:mm") - @end.ToString(@"hh\:mm")</td>
                            <td>@app.NCount</td>
                            <td>@app.Center.BName</td>
                            <td>@app.VisaType.VName</td>
                            <td>@DAL.Constants.AppStatuses(app.Status)</td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="7"><i>Список пуст, записей не найдено</i></td>
                    </tr>
                }
                
            }
        </tbody>
    </table>
</div>

<div class="text-center">
    @{
        if (Model.Current > 1)
        {
            <a class="normal-link" href="/apps/@(Model.Current - 1)/">предыдущая</a>
            <text> -</text>
        }

        for (int i = 1; i <= Model.Pages; i++)
        {
            if (i == Model.Current)
            {
                <b>@i</b>
            }
            else
            {
                <a class="normal-link" href="/apps/@i/">@i</a>
            }
            
            if (i < Model.Pages)
            {
                <text>-</text>
            }
        }

        if (Model.Current < Model.Pages)
        {
            <text>- </text>
            <a class="normal-link" href="/apps/@(Model.Current + 1)/">следующая</a>
        }
    }
</div>